@charset "utf-8";
/* CSS Document */


 html, body {
    height: 100%;
    width: 100%;
    padding-top: 100px; 
    margin: 0;
}

 p{
  margin: 0 15px 10px;
}


li{
  margin-top: 11pt;
  margin-bottom: 11pt;
}

#logo{
position:fixed;
top:0px;
left:0px;
width:195px;
height:45px;
z-index: 3;

}



/* Nav bar styling */

.navbar{
  background-color: #2DAAE1;
}

.centered
{
    text-align:center;
}

/* Sets background image to full screen */
#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}


#wrapper {
    position:relative;  
    background-color: #FFF;  


}

.wrapperDiv {
    position:absolute;
    top:70px;
        width: 100%;
 

}


.holder{
margin-top:10px;

}

.hidden{
  display:none;
}

.box{
  background-color: #FFF;
  width: 500px;
  height: 200px;
}


.score{
  font-size: 130pt;
  background: #2DAAE1; 
  width: 270px;
  color: #FFFFFF;
}

.score_text{
  font-size: 12pt;
  background: #2DAAE1; 
  width: 270px;
  color: #FFFFFF;

}


.clear-padding{
  padding:0px;

}

.clear-margins{
  margin:0px;
}

.ul-margin{
  margin: 10px;
}

.score-container{
  width: 270px;
  height: 160pt;

}

.mountain-panel{
  margin: 12pt;
  border-radius: 8px;
  background-color: #E8E8E8;
}

.nokern{
  line-height: 160pt;
}


.float-right{
  float: right;
}


.conditions-panel{
  background: #FFFFFF;
  font-size: 18pt;
  height: 160pt;
}



/* Conditions menu styling */
.conditions_menu{
margin: 10px;
padding:5px;
border-top: solid;
border-top-width: thin;
border-color: #000;
background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 8%, rgba(255,255,255,0.8) 11%, rgba(255,255,255,0.62) 31%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,rgba(255,255,255,0.8)), color-stop(11%,rgba(255,255,255,0.8)), color-stop(31%,rgba(255,255,255,0.62)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 8%,rgba(255,255,255,0.8) 11%,rgba(255,255,255,0.62) 31%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 8%,rgba(255,255,255,0.8) 11%,rgba(255,255,255,0.62) 31%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 8%,rgba(255,255,255,0.8) 11%,rgba(255,255,255,0.62) 31%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 8%,rgba(255,255,255,0.8) 11%,rgba(255,255,255,0.62) 31%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */



}


.alignTextRight{
  text-align: right;
}

.sliderMargin{
  margin: 10px;
}

/* Mountain Menu Styling */


.menu_div ul
{
    padding:0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    list-style:none;
    text-indent:15px;
    overflow-x: hidden;
}
.menu_div ul li
{
/*    background:#FFFFFF; */
    line-height:28px;
    border-bottom:1px solid #999999;
    padding:0px;
    margin:0px;

}
.menu_div ul li a
{
    text-decoration:none;
    color:#FFF;
    display:block;
    padding:0px;
    margin:0px;
    color: #000;
    border-bottom:1px solid #999999;
    background:#FFFFFF;

}
.menu_div ul li a:hover
{
    background:#2DAAE1;
    color: #FFFFFF !important;

}
.menu_div ul li#active
{
/*    background:#FFF; */
    font-size: 20px;

}

#add-margin{
  margin-right: 10px ;
}



.close {
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}


.list{
/*  background-color:#0066CC ;
  border-radius: 4px; */
  background-color: #2DAAE1;
  color:white;
}

.submitposition{

}

.mountain_page{

background-color:;
overflow: hidden;
}


.conditions_page{

background-color:;
overflow: hidden;
}


.rankings_page{
background-color:;
overflow: hidden;
}

